[project]
	description = SABDroidEx is a frontend for sabnzbd+, Sickbeard and Couchpotato on Android. It is used to monitor your servers and to interact with them in the most complete and intuitive way.
[access "refs/*"]
	owner = group user/Marc Boulanger (hellhand)
[access "refs/for/refs/*"]
	read = group user/Marc Boulanger (hellhand)
	push = group user/Marc Boulanger (hellhand)
	label-Code-Review = -2..+2 group user/Marc Boulanger (hellhand)
	label-Verified = -1..+1 group user/Marc Boulanger (hellhand)
	rebase = group user/Marc Boulanger (hellhand)
	removeReviewer = group user/Marc Boulanger (hellhand)
	submit = group user/Marc Boulanger (hellhand)
[access "refs/heads/*"]
	read = group user/Marc Boulanger (hellhand)
	create = group user/Marc Boulanger (hellhand)
	push = +force group user/Marc Boulanger (hellhand)
	pushMerge = group user/Marc Boulanger (hellhand)
[access "refs/tags/*"]
	push = +force group user/Marc Boulanger (hellhand)
	pushTag = group user/Marc Boulanger (hellhand)
	pushSignedTag = group user/Marc Boulanger (hellhand)
